.applus-form-select-container {
    cursor: pointer;
}

.applus-form-select {
    appearance: none;
    cursor: pointer;
}

.applus-form-select:hover {
    background-color: rgba(26, 45, 243, .2);
}

.select-chevron-down {
    position: absolute;
    width: 3%;
    height: 3%;
    top: 0.5rem;
    right: 0.5rem;
}

.select-chevron-down svg {
    fill: #FC6500;
    opacity: 0.5;
}