/* You can add global styles to this file, and also import other style files */

* {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    color: #373B4D;
}


/** SVG Icons style */

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #FC6500;
}

.svg-icon circle {
    stroke: #FC6500;
    stroke-width: 1;
}


/* Cursor */

.pointer {
    cursor: pointer;
}


/* Backgrouns */

.bg-orange {
    background-color: #FC6500;
}


/* Borders */

.border-orange {
    border-color: #FC6500;
}

.titulo-paso-reserva {
    color: #FC6500;
    font-weight: bold;
}

.button-orange {
    padding: 10px;
    color: white;
    cursor: pointer;
    background-color: #FC6500;
    min-width: 169px;
}

.btn-disabled {
    cursor: unset;
    background-color: #CED4DA;
}

.fc-orange {
    color: #FC6500;
}

.text-underline {
    text-decoration: underline;
}