/* You can add global styles to this file, and also import other style files */

* {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    color: #373B4D;
}

.titulo-paso-reserva {
    color: #FC6500;
    font-weight: bold;
}

.button-orange {
    padding: 10px;
    color: white;
    cursor: pointer;
    background-color: #FC6500;
    min-width: 169px;
}

.fc-orange {
    color: #FC6500;
}

.text-underline {
    text-decoration: underline;
}